/*
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//File contains background settings for the profile page
*/

/* Background for the mobile version of the profile page */

body {
    background-position: -960px -309px;
}

/* Media Queries */

/* Larger than mobiles */

@media screen and (max-width: 1280px) and (min-width: 640px) {

    body {
        background-position: -960px -209px;
    }

}

/* Larger than tablets */

@media screen and (min-width: 1280px) {

    body {
        background-position: -100px -209px;
    }
}

/* Larger than desktops */

@media screen and (min-width: 1920px) {

    body {
        background-position: 0px 0px;
        background-size: cover;
    }
}
