<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//Change password page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/backgrounds/pwd-change-bck.css">
</head>

<body>

    <header>

        <!-- Default Header -->
        <%- include("../partials/header") %>

    </header>
    <main id="small-main">
        <!-- Page Title -->
        <h2 class="small-title">Change Password</h2>
        <div class="flex-container flex-center">
            <!-- Password Change Form -->
            <form id="passChange" action="/changePassword" method='POST'>
                <input type="password" id="newPwd" name="newpassword" placeholder="New Password">
                <label for="newPwd">New Password</label>
                <input type="password" id="newPwdConf" name="confirmpassword" placeholder="Confirm Password">
                <label for="newPwdConf">Confirm Password</label>

                <input type="submit" value="Set Password">

                
            </form>
        </div>
        <!-- Display error msg here -->
        <p id="passchange-error"><%= changepass_error %></p>
    </main>
    <footer class="fixed">
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>
