<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//Home page -->


<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/backgrounds/index-bck.css">
</head>

<body onload="loadMap()">

    <header id="top-panel">
        <%- include("../partials/header") %>
        <h3 id="welcome-msg">Follow the Northern Lights</h3>
    </header>

    <main>
        <!-- Page Title -->
        <section id="welcome">
            <!-- New Entry pop up -->
            <div class="popup-container">
                <div id="new-popup">
                    <div id="popup-content" class="flex-container">
                        <p id="popup-msg"></p>
                        <form id ='new_ob_form' action="/upload-aurora" method="post" enctype="multipart/form-data">
                        <input id="upload-aurora" type="file" accept="image/*" name="aurora" required>
                        <label id="upload-aurora-label" for="upload-aurora">Upload</label>
                        <div class="btn-flex-container">
                            <input type="hidden" id="long" name="long" value="">
                            <input type="hidden" id="lat" name="lat" value="">
                            <input type="hidden" id="ob_date" name="ob_date" value="">
                            <input type="hidden" id="ob_time" name="ob_time" value="">
                            <button id="popup-cancel" class="popup-btn" onclick="cancelLocation()">Cancel</button>
                            <input id="popup-save" class="popup-btn" onclick="addLocation()" type="submit" value="Save">
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Display error msg if user tries to add observation when not logged in -->
            <div class="popup-container">
                <div id="record-not-logged">
                    <div id="record-not-content" class="flex-container">
                        <p id="login-prompt-msg">You need to be <a href="/login" id="login-prompt"> Signed In </a> to add your observation</p>
                        <div class="btn-flex-container">
                            <button id="login-prompt-close" class="popup-btn" onclick="closeLoginPrompt()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Aurora Map -->
            <div id="map">
                <!--leaflet map-->
                <div id="mapid"></div>
                <!--call map script-->
                <script src="js/map.js"></script>

            </div>

            <!-- Record Observation -->
            <div id="new_entry">
                <button id="btn_add_loc" onclick="recordClicked()">Click Here To Record Sighting</button>
            </div>

            <!-- Weather Forecast -->
            <div id="home-container" class="flex-container">
                <div id="weather">
                    <div class="notification"> </div>
                    <div class="weather-container">
                        <h4 class="black text-center">Weather Forecast</h4>
                        <div class="weather-location">
                            <p>-</p>
                        </div>
                        <div class="weather-icon">
                            <img src="img/weather-icons/unknown.png" alt="">
                        </div>
                        <div class="temperature">
                            <p>- °<span>C</span></p>
                        </div>
                        <div class="temperature-description">
                            <p> - </p>
                        </div>
                    </div>
                </div>

                <!-- Aurora Status -->
                <div id="aurora_status">
                    <script>
                        loadAurora();
                    </script>
                </div>
            </div>
        </section>

        <!-- Text about project and tips for seeing Aurora -->
        <section id="about-us">
            <h3>ABOUT US</h3>
            <div id="about-us-text">

                <p>Aurora is a web application that helps to find the best locations for observing the Aurora Borealis in Great Britain. The map shows locations where our users observed this magnificent phenomenon. You can click on the pins on the map to check the date, time, exact coordinates for the location and the total number of observations registered at that point by our community.</p>

                <p>To help you plan the best Northern Lights experience, we provide you with a weather forecast and the preditctions how likely it is to see an Aurora.</p>

                <p>AuroraWatch UK takes geomagnetic activity measurements to detect the likelihood of seeing Aurora from the UK. They use color-coded status system to report their findings.</p>

                <p>Green represents 'No significant activity', when the Aurora in unlikely to be visible from anywhere in UK. Yellow represents 'Minor geomagnetic activity' and it's used when there is a chance of observing Aurora by camera from Scotland, northern England and Northern Ireland.</p>

                <p>Amber alert means 'Possible aurora' by eye from Scotland, northern England and Northern Ireland and by camera from other parts of the UK. Red status, 'Aurora likely', means that it is likely to observe aurora by eye from anywhere in the UK.</p>

                <p>For more information check the AuroraWatch UK website: <a id="aurora-link" href="http://aurorawatch.lancs.ac.uk">aurorawatch.lancs.ac.uk</a></p>

                <p>Another big factor that could influence your experience is the weather as you need a clear sky to be able to see the Nothern Lights. The website uses the OpenWeatherMap API to provide you with the weather forecast. You can also click on any point on the map to check the forecast for the chosen location.</p>

                <p>In the <a id="tips-link" href="#tips">TIPS</a> section, we provide additional useful information to help you plan the best Northern Light experience!</p>

                <p><a href="signup.html" id="join-link">Join our community</a> to be able to add new observation points and track your observations data in the Profile section.</p>

            </div>
        </section>

        <section id="tips">
            <h3>TIPS</h3>
            <div>
                <p class="underline">Time of the Year:</p>

                <p>Aurora phenomenon is visible between late August and early April. Months from November to February are a great time to witness the aurora light shows.
                </p>

                <p class="underline">Aurora Forecast:</p>
                <p>Natural occurrence of the aurora depends on the collision of solar wind and gaseous particles of the Earth’s atmosphere. High geomagnetic activity on the aurora forecast indicates, there is a good chance to see the aurora on that given day/time.
                </p>
                <p class="underline">Weather:</p>
                <p>Carefully check the weather forecast before going out for aurora hunting. Cloudy and rainy weather forecast minimises the chances of seeing the aurora. The clear night sky offers the best probability of experiencing the aurora.
                </p>
                <p class="underline">Location:</p>
                <p>Aurora occurs near the magnetic poles of the Earth. Check the locations tagged on the map. The locations with the most tags are the best spots to see aurora displays.
                </p>
                <p class="underline">Light Pollution:</p>
                <p>Light pollution from the city streets and buildings will make it difficult to fully experience the aurora. The best places to see the aurora are usually away from the city lights. The light from a full moon also causes problems as it brightens up the skies. Therefore, the timing of the outing is important too.
                </p>
            </div>
        </section>
        <div id="ejs-variable">
                <img id="uploadedphoto" alt="Uploaded Photo" src="../img/uploads/aurora/<%= photo %>">
        </div>
    </main>
    <footer id="foot-index">
        <%- include("../partials/footer") %>
    </footer>
    <script src="js/weather.js"></script>
</body>

</html>
