<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//Login page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/backgrounds/login-bck.css">
</head>

<body>

    <header>
        <!-- Default Header -->
        <%- include("../partials/header") %>
    </header>
    <main id="small-main">
        <!-- Page Title -->
        <h2 class="small-title">Welcome Back, Log In</h2>

        <!-- Login form -->
        <div id="form-wrapper" class="flex-container flex-center">
            <form id="login-form" action='/dologin' method='POST'>
                <input type="text" id="lusername" name="name" placeholder="Username">
                <label for="lusername">Username</label>
                <input type="password" id="lpassword" name="password" placeholder="Password">
                <label for="lpassword">Password</label>
                <input type="submit" value="Login">
                <!-- Register Link -->
                <p id="form-text">Not got an account? Sign Up <a href="/signup">Here</a></p>
            </form>
        </div>

        <!-- Display Error Msg Here -->
        <p id="login-error"><%= login_error %></p>
    </main>
    <footer class="fixed">
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>
