<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//Settings page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body onload="hideElements()" id="set-body">

    <header>
        <!-- Default Header -->
        <nav class="icon">
            <div class="flex-container">
                <a id="title" href="/">
                    <h1>AURORA</h1>
                </a>
                <i class="fas fa-bars"></i>
            </div>
        </nav>

        <!-- Hamburger Menu -->
        <nav id="menu">
            <div class="flex-container">
                <h1>Menu</h1>
                <i class="fas fa-times"></i>
            </div>
            <div class="flex-column">
                <a href="/">
                    <h2>Home</h2>
                </a>
                <a href="/login" class="login-nav">
                    <h2>Log In</h2>
                </a>
                <a href="/signup" class="login-nav">
                    <h2>Sign Up</h2>
                </a>
                <a href="/profile" class="logout-nav">
                    <h2>Profile</h2>
                </a>
                <a href="/settings" class="logout-nav">
                    <h2>Settings</h2>
                </a>
                <a href="/" class="logout-nav">
                    <h2 onclick="signout();">Log Out</h2>
                </a>
            </div>
        </nav>
    </header>

    <!-- Settings Icons -->
    <main id="small-main" class="icon">
        <!-- Page Title -->
        <h2 class="small-title">Settings</h2>
        <div id="settings-page set-cont">
            <hr>
            <div class="flex-container">
                <a href="/profile">
                    <i class="fas fa-user"></i>
                </a>
                <a href="/profile">
                    <h4>Profile</h4>
                </a>
            </div>
            <hr>
            <div class="flex-container">
                <a href="/change-password">
                    <i class="fas fa-key"></i>
                </a>
                <a href="/change-password">
                    <h4>Change Password</h4>
                </a>
            </div>
            <hr>
            <div class="flex-container">
                <i class="fas fa-sign-out-alt"></i>
                <h4 id="logout" onclick="signout();">Log Out</h4>
            </div>
            <hr>
        </div>
    </main>
    <footer class="fixed">
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>
