<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//Sign-up page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/backgrounds/signup-bck.css">
</head>

<body>

    <header>
        <!-- Default Header -->
        <%- include("../partials/header") %>
    </header>
    <main id="small-main">
        <!-- Page Title -->
        <h2 class="small-title">Sign Up</h2>
        <!-- Register form -->
        <div class="flex-container flex-center">
            <form id="myForm" action='/uploadProfile' method='POST' enctype="multipart/form-data">
                <input type="text" id="rusername" name="username" placeholder="Username">
                <label for="rusername">Username</label>
                <input id="upload-profile" type="file" accept="image/*" name="profile">
                <label id="upload-profile-label" for="upload-profile">Upload Profile Photo</label>
                <input type="email" id="remail" name="email" placeholder="E-Mail Address">
                <label for="remail">Email Address</label>
                <input type="password" id="rpassword" name="password" placeholder="Password">
                <label for="rpassword">Password</label>
                <input type="password" id="rpassConf" name="confirm_password" placeholder="Confirm Password">
                <label for="rpassConf">Confirm Password</label>
                <input type="submit" value="Register">
                <!-- Login Link -->
                <p id="form-text">Already got an account? Log In <a href="/login">Here</a></p>
            </form>
        </div>

        <!-- Display an error msg here -->
        <p id="error-msg"><%= signup_error %></p>
    </main>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>
