/* CSS Variables: Colours */

:root {
    --black: #000000;
    --white: #ffffff;
    --grey: #2b292a;
}

/*  HTML Element Styling */

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
}

html {
    font-size: 16pt;
}

header,
nav {
    width: 100%;
    height: auto;
    overflow: auto;
}

main {
    width: 80%;
    height: auto;
    overflow: auto;
    margin: 0 5% 10% 10%;
}

img {
    height: auto;
    overflow: auto;
}

hr {
    color: var(--white);
}


/* Text Styling */

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 1rem;
    font-weight: normal;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20%;
}

h3 {
    font-weight: lighter;
    margin-bottom: 2%;
}

h4 {
    font-weight: 500;
}

header h1,
header h2 {
    color: var(--white);

}

p,
th,
td {
    font-family: 'Hind', sans-serif;
    color: var(--white);
    font-size: 0.6rem;
}

p a {
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--white);
}

a {
    text-decoration: none;
}

a:hover,
i:hover {
    opacity: 50%;
    cursor: pointer;
}

iframe {
    border: 0;
}

/* Form Styling */

input,
button {
    width: 90%;
    height: auto;
    overflow: auto;
    margin: 10% 2%;
    padding: 2.10%;
    background: var(--black);
    border: 2px solid var(--black);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

button,
input[type=submit] {
    width: 96%;
    font-weight: 500;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: var(--white);
}

/* Table CSS */

table {
    margin: 2% auto;
    border-collapse: collapse;
}

table th,
table td {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    border: 2px solid var(--white);
    padding: 12px 20px;
    border-collapse: collapse;
    background: var(--grey);
}

table th {
    border-top: none;
}

table .first {
    border-left: none;
}

table .last {
    border-right: none;
}

td a {
    font-weight: bold;
    color: var(--white);
    text-decoration: underline;
}

/* Classes - Text Styling */

.black {
    color: var(--black);
}

.bold {
    font-weight: bold;
}

.text-center,
#profile-user,
#profile-email {
    text-align: center;
}

#new_entry p {
    text-align: center;
}

#form-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: 10% 2%;
}

#profile-page p {
    font-size: 0.8rem;
}

/* Classes - Alignment */

#map,
#weather,
#about-us,
#tips,
#diary {
    margin-top: 20%;
}

#map {
    width: 100%;
}

#about-us p,
#tips p {
    margin-top: 10%;
}

#settings-page .flex-container {
    justify-content: space-between;
}

#tips p:first-child {
    margin-top: 10%;
}

#tips p {
    margin-top: 0;
}

/* Classes - Flexbox */

.flex-container {
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.image-row {
    display: flex;
}

.half {
    flex: 50%;
}

/* Classes - Image Styling */

.fa-bars,
.fa-times,
.fa-user,
.fa-key,
.fa-sign-out-alt {
    font-size: 2rem;
    color: var(--white);
}

.placeholders {
    width: 100%;
    height: auto;
    overflow: auto;
}

#profile-pic {
    width: 75%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 5%;
}

/* Classes - Weather Styling */

#left-image {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    margin: 0;
    border-radius: 10px;
    padding-bottom: 50px;
}

.weather-title {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.weather-title p {
    text-align: center;
    padding: 8px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 100%;
    height: auto;
    background-color: #F4F9FF;
}

.weather-icon {
    width: 100%;
    height: auto;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature {
    width: 100%;
    height: auto;
}

.temperature p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description {
    width: 100%;
    height: auto;
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.weather-location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}

/* Classes - Menu Styling */

#menu {
    display: none;
    background: var(--background-color);
    background-color: black;
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
    z-index: 10000;
}

#menu h2 {
    text-align: center;
    padding: 3% 0;
}

.icon .flex-container {
    justify-content: flex-start;
    margin: auto;
}

#menu .flex-container {
    justify-content: space-around;
}

header .icon a {
    margin-left: 10%;
}

.fa-bars {
    margin-left: auto;
    margin-right: 10%;
}

.icon {
    background: var(--background-color);
}

/* Classes - Map Styling */

/* Leaflet map custom style */

#mapid {
    position: relative;
    height: 220px;
}

/* Change the width of aurora status iframe */

#status-frame {
    width: 100%;
    height: 50px;
}

#wrapper {
    width: 100%;
}

#activity-image {
    width: 100%;
}


#error-msg,
#login-error,
#passchange-error {
    color: #B2E172;
    font-size: 18px;
}


/* Index page record new location text and button styles */
#new_entry {
    margin-top: 35%;
}

#btn_add_loc {
    border: 2px solid #B2E172;
    color: #B2E172;
}

#btn_add_loc:hover {
    cursor: pointer;
    background-color: #526E7D;
}

#btn_add_loc:active {
    background-color: #B2E172;
    border-color: #526E7D;
    color: #456FE6;
    transform: translateY(.5px);
}

/* new observation popup msg */

#popup-msg {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
    margin-bottom: -3%;
}

#new-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 15%;
    top: 28%;
    width: 70%;
    height: 30%;
    background-color: black;
    border: 1px solid #B2E172;
    box-shadow: 1px 1px #B2E172;
}

#popup-cancel,
#popup-save {
    width: 30%;
}

#popup-cancel {
    margin-left: 15%;
    float: left;
    border: 1px solid white;
}

#popup-cancel:hover {
    color: white;
    border: 2px solid #B2E172;
}

#popup-save {
    display: inline-block;
    color: #B2E172;
    border: 1px solid #B2E172;
}

#popup-save:hover {
    display: inline-block;
    border: 2px solid #B2E172;
    color: white;
}

#popup-cancel:active,
#popup-save:active {
    background-color: #526E7D;
}

/* Classes - CSS Animation */

@keyframes bounceInLeft {

    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

main h2 {
    animation: bounceInLeft 1s ease-in 0s 1 both;
}

@keyframes shake {

    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation: shake 1s ease-in 0s 1 both;
}

.remove-animation {
    animation-duration: 0s;
}


/* Media Queries */

/* Larger than mobiles */

@media screen and (min-width: 640px) {

    h2 {
        margin-bottom: 10%;
    }

    #menu .flex-column {
        margin-bottom: 5%;
    }

    #map,
    #weather {
        width: 80%;
    }

    #mapid {
        height: 300px;
    }

    #status-frame {
        width: 80%;
        height: 50px;
    }

    #home-content {
        justify-content: center;
    }

}

/* Larger than tablets */

@media screen and (min-width: 1280px) {

    h2 {
        margin-bottom: 15%;
    }

    .small-title {
        margin-bottom: 7.5%;
    }

    nav.icon,
    #menu .flex-container {
        margin-top: 2.5%;
    }

    main {
        margin-top: 2.5%;
    }

    #small-main {
        margin-bottom: 2.5%;
    }

    #map,
    #weather {
        width: 45%;
        margin: auto 2.5%;
    }

    #mapid {
        height: 387.933px;
    }

    #aurora_status,
    #activity-img,
    #button-container {
        margin-top: 7.5%;
    }

    #activity-container {
        width: 100vw;
    }

    #map,
    #weather,
    #about-us,
    #tips,
    #diary {
        margin-top: 7.5%;
    }

    p {
        font-size: 0.8rem;
    }

    #about-us p,
    #tips p {
        margin-top: 5%;
    }

    #tips p:first-child {
        margin-top: 5%;
    }

    #profile-page p {
        font-size: 1rem;
    }

    input,
    button {
        width: 100%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        padding: 5%;
    }

    #myForm input {
        width: 50%;
        padding: 2.5%;
        margin-left: 25%;
    }

    button,
    input[type=submit] {
        width: 55%;
        margin-left: 30%;
    }

    #btn_add_loc {
        padding: 2.5%;
        margin-left: 25%;
    }

    #myForm button,
    #myForm input[type=submit] {
        width: 55%;
    }

    #form-text {
        margin-bottom: 2.5%;
    }

    #settings-page .flex-container {
        width: 50%;
    }

    .icon .flex-container {
        justify-content: space-between;
    }

    table {
        width: 100%;
    }

    table th,
    table td {
        padding: 24px 40px;
    }

    .temp-hide {
        display: none;
    }
}

/* Larger than desktops */

@media screen and (min-width: 1920px) {
    #new_entry {
        margin-top: 20%;
    }
}
