:root {
    --black: #000000;
    --white: #ffffff;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
}

html {
    font-size: 16pt;
}

header,
nav {
    width: 100%;
    height: auto;
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 1rem;
    font-weight: normal;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 20%;
}

h3 {
    font-weight: lighter;
    margin-bottom: 2%;
}

h4 {
    font-weight: 500;
}

header h1,
header h2 {
    color: var(--white);

}

.black {
    color: var(--black);
}

.text-center {
    text-align: center;
}

.icon {
    background: var(--background-color);
}

p {
    font-family: 'Hind', sans-serif;
    color: var(--white);
    font-size: 0.6rem;
}

p a {
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--white);
}

#form-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: 10% 2%;
}

input,
button {
    width: 90%;
    height: auto;
    overflow: auto;
    margin: 10% 2%;
    padding: 2.10%;
    background: var(--black);
    border: 2px solid var(--black);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

button {
    width: 96%;
    font-weight: 500;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: var(--white);
}

a {
    text-decoration: none;
}

a:hover,
i:hover {
    opacity: 50%;
    cursor: pointer;
}

main {
    width: 80%;
    height: auto;
    overflow: auto;
    margin: 0 5% 10% 10%;
}

img {
    height: auto;
    overflow: auto;
}

.placeholders {
    width: 100%;
    height: auto;
    overflow: auto;
}

.flex-container {
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.image-row {
    display: flex;
}

.half {
    flex: 50%;
}

/* STYLES FOR WEATHER FORECAST ELEMENTS */
#left-image {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    margin: 0;
    border-radius: 10px;
    padding-bottom: 50px;
}

.weather-title {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.weather-title p {
    text-align: center;
    padding: 8px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 100%;
    height: auto;
    background-color: #F4F9FF;
}

.weather-icon {
    width: 100%;
    height: auto;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature {
    width: 100%;
    height: auto;
}

.temperature p {
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature p:hover {}

.temperature span {
    color: #293251;
    font-size: 0.5em;
}

.temperature-description {
    width: 100%;
    height: auto;
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.weather-location {}

.weather-location p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}


.fa-bars,
.fa-times,
.fa-user,
.fa-key,
.fa-sign-out-alt {
    font-size: 2rem;
    color: var(--white);
}

hr {
    color: var(--white);
}

#menu {
    display: none;
    background: var(--background-color);
    background-color: black;
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
}

#menu h2 {
    text-align: center;
    padding: 3% 0;
}

.icon .flex-container {
    justify-content: flex-start;
    margin: auto;
}

#menu .flex-container {
    justify-content: space-around;
}

.icon a,
.icon h4 {
    margin-left: 10%;
}

.fa-bars {
    margin-left: auto;
    margin-right: 10%;
}

#map {
    margin-top: 20%;
}

.flex-center {
    justify-content: center;
}
