:root {
    --main-color: #ffffff;
    --background-color: #800080;
    --text-color: #000000;
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16pt;
}

header,
nav {
    width: 100%;
    height: auto;
    overflow: auto;
}

h1,
h2 {
    color: var(--text-color);
}

h2 {
    font-size: 1rem;
}

header h1,
header h2 {
    color: var(--main-color);

}

#icon {
    background: var(--background-color);
}

input,
button {
    width: 90%;
    height: auto;
    overflow: auto;
    margin: 5% 2.5%;
    padding: 2.5%;
    border: 2px solid var(--background-color);
    border-radius: 10px;
}

button {
    width: 95%;
    background: var(--background-color);
    color: var(--main-color);
}

::placeholder {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a:hover,
i:hover {
    opacity: 50%;
    cursor: pointer;
}

main {
    width: 90%;
    height: auto;
    overflow: auto;
    margin: 0 5%;
}

div {
    text-align: center;
}

img {
    margin: 2% 0;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.fa-bars,
.fa-times {
    font-size: 2rem;
    color: var(--main-color);
}

#menu {
    display: none;
    background: var(--background-color);
    width: 100%;
    height: auto;
    overflow: auto;
    position: absolute;
}

#menu h2 {
    text-align: center;
    padding: 3% 0;
}

#map img {
    margin: 0 auto;
}
