/* 
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 2/3/2020
//File contains CSS code dealing with responsivness of the website
*/

/* Media Queries */



/* Larger than mobiles */

@media screen and (min-width: 640px) {

    h2 {
        margin-bottom: 10%;
    }

    #menu .flex-column {
        margin-bottom: 5%;
    }

    #map {
        width: 100%;
    }

    #mapid {
        height: 300px;
    }


    #home-content {
        justify-content: center;
    }

    #btn_add_loc{
        width: 50%;
        margin-left: 25%;
    }

    #weather{
        width: 100%;
    }

    

    


}

/* In between mobile and tablet */

@media screen and (min-width: 940px) {

    #map,
    #weather,
    #about-us,
    #tips,
    #diary {
        margin-top: 7.5%;
    }

    p {
        font-size: 0.8rem;
    }

    #about-us p,
    #tips p {
        margin-top: 1%;
    }

    #tips p:first-child {
        margin-top: 5%;
    }

    #btn_add_loc{
        width: 100%;
        margin-left: 0;
    }

    #new_entry {
        margin-top: 10%;
        width: 20%;
        margin-right: 10%;
        float: left;
    }

    #map{
        width: 70%;
        display: inline-block;
    }

    #weather{
        width: 100%;
    }

}

/* Larger than tablets */

@media screen and (min-width: 1280px) {


    h2 {
        margin-bottom: 15%;
    }

    .small-title {
        margin-bottom: 7.5%;
    }

    nav.icon,
    #menu{
        margin-top: 2.5%;
    }

    main {
        margin-top: 2.5%;
    }

    #small-main {
        margin-bottom: 2.5%;
    }


    #new_entry {
        margin-top: 5%;
        width: 20%;
        margin-right: 10%;
        float: left;
    }

    #map{
        width: 70%;
        display: inline-block;
    }


    #aurora_status{
        padding: 0;
        width: 100%;
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #home-container{
        margin-left: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: stretch;
        background-color: white;
        padding: 0;
    }

    
    #weather {
        margin-top: 0;
        background-color: #f4f9ff;
        display: flex;
    }
    
    .weather-container{
        margin: auto;
    }


    .frame-cont{
        display: flex;
    }

    #plot-frame{
        margin: 0 auto;
    }

    #mapid {
        height: 500px;
    }


    #new_entry {
        margin-top: 10%;
    }

    #profile-page p {
        font-size: 1rem;
    }

    input,
    button {
        width: 100%;
        margin-top: 7.5%;
        margin-bottom: 7.5%;
        padding: 5%;
        border-radius: 10px;
    }

    #activity-img{
        align-self: center;
        top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    #myForm input {
        width: 50%;
        padding: 2.5%;
        margin-left: 25%;
    }

    button,
    input[type=submit] {
        width: 55%;
        margin-left: 30%;
        border-radius: 5px;
    }

    #btn_add_loc {
        padding: 2.5%;
    }

    #myForm button,
    #myForm input[type=submit] {
        width: 55%;
    }

    #popup-cancel,
    #popup-save {
        margin: 2%;
        padding: 2.10%;
    }

    #form-text {
        margin-bottom: 2.5%;
    }

    #settings-page .flex-container {
        width: 50%;
    }

    table {
        width: 100%;
    }

    table th,
    table td {
        padding: 24px 40px;
    }

    .temp-hide {
        display: none;
    }
}

/* Desktop */

@media screen and (min-width: 1580px) {

    
    #new_entry {
        margin-top: 10%;
        width: 20%;
        margin-right: 10%;
        float: left;
    }

    #map{
        width: 70%;
        display: inline-block;
    }


    #about-us p,
    #tips p {
        margin-top: 1%;
    }

    #new-popup {
        height: 60%;
    }

}
