<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 3/4/2020
//Head partial -->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Aurora</title>

<!-- Fonts & Icons -->

<link rel="shortcut icon" type="image/icon" href="img/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#547e80">
<meta name="msapplication-TileColor" content="#00aba9">
<link href="https://fonts.googleapis.com/css?family=Hind|Montserrat:300,400,600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/59dd3e37d5.js" crossorigin="anonymous"></script>

<!-- CSS Stylesheets -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/responsive.css">

<!--Leaflet Map CSS-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

<!-- JS Scripts and jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/main.js"></script>

<!-- crypto-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
<!--Leaflet Map Script-->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js"></script>
<link href="https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css" rel="stylesheet" />
