<!--
//Project: Aurora
//Group: DM Web Dev Team
//TMs: Maya Bonazarova, Louise Findlay, Miriam Wojcik, Brandon Reid
//Date: 4/4/2020
//Observation table partial -->


<table id="diary-tbl">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Coordinates</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody id="table-content">
<!--         <% for (var i=0; i<observation_records.length; i++) { %> -->
            <tr>
                <td><%= observation_records[i].date %></td>
                <td><%= observation_records[i].time %></td>
                <td><%= observation_records[i].longitude %></td>
                <td><%= observation_records[i].auroraphoto %></td>
            </tr>}
    </tbody>
</table>