/*Background for the mobile version of index page*/
body{
  background:
  linear-gradient(
      rgba(168, 168, 168, 0.5), 
      rgba(168, 168, 168, 0.5)
    ),
    url(../../img/bg-home.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 8%;
  background-color: black;
}

/*Menu background color*/
#menu{
  background-color: black;
}

/* Media Queries */
/* Larger than mobiles */

@media screen and (max-width: 640px) and (min-width: 400px) {
  body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg-home.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 9%;
    background-color: black;
  }
}

@media screen and (max-width: 1280px) and (min-width: 640px) {
  body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg-home.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 9%;
    background-color: black;
  }
}

/* Larger than tablets */

@media screen and (min-width: 1280px) {
  body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg-home.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 9%;
    background-color: black;
  }
}
}

/* Larger than desktops */

@media screen and (min-width: 1920px) {
  body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg-home.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0px -200px;
    background-size: 100% 10%;
    background-color: black;
  }
}
}