/*Background for the mobile version of index page*/
body{
  background:
  linear-gradient(
      rgba(168, 168, 168, 0.5), 
      rgba(168, 168, 168, 0.5)
    ),
    url(../../img/bg-home.png);
  background-position: -300px 0px;
  background-size: 977px 300px;
  background-repeat: no-repeat;
  background-color: black;
}

/*Menu background color*/
#menu{
  background-color: black;
}