/*Background for the password change page mobile version*/
body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg.png);
    background-position: -1332px -309px;
    background-size: 2150px;
}

/*Menu bar background color*/
#menu{
  background-color: black;
}