/*Background for the password change page mobile version*/
body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg.png);
    background-position: -1332px -309px;
    background-size: 2150px;
}

/*Menu bar background color*/
#menu{
  background-color: black;
}

/* Media Queries */
/* Larger than mobiles */

@media screen and (max-width: 1280px) and (min-width: 640px) {
  body{
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg.png);
    background-position: -1332px -209px;
    background-size: 2150px;
}

}

/* Larger than tablets */
@media screen and (min-width: 1280px) {
  body{ 
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg.png);
    background-position: -400px -209px;
    background-size: 2150px;
}

}

/* Larger than desktops */

@media screen and (min-width: 1920px) {
  body{ 
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg.png);
      background-position: 0px 0px;
      background-size: cover;
}
}