body{
    
    background:
    linear-gradient(
        rgba(168, 168, 168, 0.5), 
        rgba(168, 168, 168, 0.5)
      ),
      url(../../img/bg.png);
    background-position: -455px -309px;
    background-size: 2150px;
}

#menu{
    background-color: black;
  }